@model FTBAPISERVER.Models.ViewPics

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PictureGallery</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META http-equiv="Pragma" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <META http-equiv="Expires" content="-1">
    <link href="~/css/lightgallery.css" rel="stylesheet">
    <style type="text/css">
        /* body {
            background-color: #152836;
        }*/

          body {
            font-family: 'Verdana', sans-serif;
            font-size: 14px;/*smaller*/ 
        }
         #headerWrapper {
            position: fixed;
            width: 100%;
            top: 150;
            height: 100px;
            z-index: 1000;
        }
        #dvLoading {
            background: #259090 url(/images/prettyPhoto/default/loader.gif) no-repeat center center;
            height: 100px;
            width: 400px;
            position: fixed;
            z-index: 1000;
            left: 50%;
            top: 50%;
            margin: -25px 0 0 -25px;
        }

        .demo-gallery > ul {
            margin-bottom: 0;
        }

            .demo-gallery > ul > li {
                float: left;
                margin-bottom: 15px;
                margin-right: 20px;
                width: 200px;
            }

                .demo-gallery > ul > li a {
                    border: 3px solid #FFF;
                    border-radius: 3px;
                    display: block;
                    overflow: hidden;
                    position: relative;
                    float: left;
                }

                    .demo-gallery > ul > li a > img {
                        -webkit-transition: -webkit-transform 0.15s ease 0s;
                        -moz-transition: -moz-transform 0.15s ease 0s;
                        -o-transition: -o-transform 0.15s ease 0s;
                        transition: transform 0.15s ease 0s;
                        -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
                        height: 100%;
                        width: 100%;
                    }

                    .demo-gallery > ul > li a:hover > img {
                        -webkit-transform: scale3d(1.1, 1.1, 1.1);
                        transform: scale3d(1.1, 1.1, 1.1);
                    }

                    .demo-gallery > ul > li a:hover .demo-gallery-poster > img {
                        opacity: 1;
                    }

                    .demo-gallery > ul > li a .demo-gallery-poster {
                        background-color: rgba(0, 0, 0, 0.1);
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        -webkit-transition: background-color 0.15s ease 0s;
                        -o-transition: background-color 0.15s ease 0s;
                        transition: background-color 0.15s ease 0s;
                    }

                        .demo-gallery > ul > li a .demo-gallery-poster > img {
                            left: 50%;
                            margin-left: -10px;
                            margin-top: -10px;
                            opacity: 0;
                            position: absolute;
                            top: 50%;
                            -webkit-transition: opacity 0.3s ease 0s;
                            -o-transition: opacity 0.3s ease 0s;
                            transition: opacity 0.3s ease 0s;
                        }

                    .demo-gallery > ul > li a:hover .demo-gallery-poster {
                        background-color: rgba(0, 0, 0, 0.5);
                    }

        .demo-gallery .justified-gallery > a > img {
            -webkit-transition: -webkit-transform 0.15s ease 0s;
            -moz-transition: -moz-transform 0.15s ease 0s;
            -o-transition: -o-transform 0.15s ease 0s;
            transition: transform 0.15s ease 0s;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            height: 100%;
            width: 100%;
        }

        .demo-gallery .justified-gallery > a:hover > img {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
        }

        .demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
            opacity: 1;
        }

        .demo-gallery .justified-gallery > a .demo-gallery-poster {
            background-color: rgba(0, 0, 0, 0.1);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            -webkit-transition: background-color 0.15s ease 0s;
            -o-transition: background-color 0.15s ease 0s;
            transition: background-color 0.15s ease 0s;
        }

            .demo-gallery .justified-gallery > a .demo-gallery-poster > img {
                left: 50%;
                margin-left: -10px;
                margin-top: -10px;
                opacity: 0;
                position: absolute;
                top: 50%;
                -webkit-transition: opacity 0.3s ease 0s;
                -o-transition: opacity 0.3s ease 0s;
                transition: opacity 0.3s ease 0s;
            }

        .demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .demo-gallery .video .demo-gallery-poster img {
            height: 48px;
            margin-left: -24px;
            margin-top: -24px;
            opacity: 0.8;
            width: 48px;
        }

        .demo-gallery.dark > ul > li a {
            /*  border: 3px solid #04070a;*/
            border: 3px solid #D8DC15;
        }

        .home .demo-gallery {
            padding-bottom: 80px;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }
        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>
</head>
<body class="home">
    <div id="headerWrapper">
        <div style="float:right"  id="docLoader"><img style="float:right;" src="~/images/loading.gif" /></div>
    </div>




    <div class="demo-gallery">
        <ul id="lightgallery" class="list-unstyled row">           
            @foreach (var image in Model.Images)
                        {                          
                           if (image.ToUpper().Contains("DDOOTTJPG") || image.ToUpper().Contains("DDOOTTGIF") || image.ToUpper().Contains("DDOOTTBMP") || image.ToUpper().Contains("DDOOTTICO") || image.ToUpper().Contains("DDOOTTPNG"))
                            {
                              <li class="col-xs-6 col-sm-4 col-md-3" data-responsive="@ViewBag.LocalPath" title="@Url.Content(image)" data-src="@Url.Content(image)/1" data-sub-html="<h4>File:@Url.Content(image.Replace("DDOOTT",".").Substring(33))</h4><p>Camera : Unknown ; Location Unknown</p>" >
                             <a href="">
                            <img id="@Url.Content(image)" title="@Url.Content(image).Substring(Url.Content(image).IndexOf("z_")+2,8)".jpg draggable="true" ondragstart="drag(event)" class="rimkusimg img-responsive" data-rimkus="@ViewBag.LocalPath" width="200" height="200" src="@Url.Content(image)">
                               </a>
                                  @Url.Content(image).Substring(Url.Content(image).IndexOf("z_") + 2, 8) .JPG
                             </li>
                           }
                        }
        </ul>
    </div>
    <script>
        $(window).load(function () {
            $('#headerWrapper').fadeOut(2000);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lightgallery').lightGallery();
        });
    </script>
    <script src="~/js/picturefill.min.js"></script>
    <script src="~/js/lightgallery.js"></script>
   <!-- <script src="~/js/lg-fullscreen.js"></script>-->
    <script src="~/js/lg-thumbnail.js"></script>
    <script src="~/js/lg-video.js"></script>
    <script src="~/js/lg-autoplay.js"></script>
    <script src="~/js/lg-zoom.js"></script>
    <script src="~/js/lg-hash.js"></script>
    <script src="~/js/lg-pager.js"></script>
    <script src="~/js/jquery.mousewheel.min.js"></script>
</body>
</html>