@model IEnumerable<OutlookMsgStorage>

@{
    Layout = null;
    var myDetails = (OutlookMsgStorage)ViewBag.Message;
}
<!DOCTYPE html>
<html class=''>
<head>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <style class="cp-pen-styles">
        /* @@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);*/

         {
            box-sizing: border-box;
        }
          body {
            font-family: 'Verdana', sans-serif;
            font-size: 14px;/*smaller*/ 
        }
        body {
            font-family: 'Verdana', sans-serif;
            font-size: smaller;
        }

        .clr {
            clear: both;
        }

        a {
            text-decoration: none;
        }

        .btn {
            border-radius: 4px;
            padding: 6px 10px;
            text-align: center;
            text-shadow: none;
            color: #fff;
            background: #fff;
        }

            .btn.btn-primary {
                background: #44c4e7;
            }

        .container {
            display: flex;
            width: 100%;
            height: 100%;
        }

        .sidebar {
            width: 250px;
            background: #34393d;
            order: 1;
            flex-flow: column;
            color: #fff;
        }

            .sidebar a {
                color: #fff;
            }

            .sidebar h1 {
                font-weight: 400;
                background: #19a0c5;
                line-height: 80px;
                margin: 0;
                padding: 0 30px;
            }

            .sidebar .main-nav {
                margin: 30px 0;
            }

                .sidebar .main-nav > ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                    .sidebar .main-nav > ul > li {
                        transition: background-color .3s ease;
                    }

                        .sidebar .main-nav > ul > li.active, .sidebar .main-nav > ul > li:hover {
                            background: #40464b;
                        }

                        .sidebar .main-nav > ul > li > a {
                            padding: 20px 30px;
                            display: block;
                            color: #999;
                            font-weight: 700;
                            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                        }

                        .sidebar .main-nav > ul > li > .btn {
                            display: block;
                            color: #fff;
                            text-shadow: none;
                            margin: 10px 30px;
                            padding: 10px;
                            font-weight: 400;
                        }

                        .sidebar .main-nav > ul > li > ul {
                            list-style: none;
                            margin: 0;
                            padding: 10px 0;
                        }

                            .sidebar .main-nav > ul > li > ul.labels {
                                border-top: 1px solid #555;
                                margin-top: 20px;
                            }

                            .sidebar .main-nav > ul > li > ul > li {
                                transition: background-color .3s ease;
                                padding: 10px 30px;
                            }

                                .sidebar .main-nav > ul > li > ul > li.active, .sidebar .main-nav > ul > li > ul > li:hover {
                                    background: #4b5359;
                                }

                                .sidebar .main-nav > ul > li > ul > li .btn {
                                    font-size: .875rem;
                                    padding: 5px;
                                    float: right;
                                    position: relative;
                                    top: -4px;
                                }

                                .sidebar .main-nav > ul > li > ul > li .label {
                                    width: 20px;
                                    height: 20px;
                                    display: inline-block;
                                    top: 0;
                                }

                                .sidebar .main-nav > ul > li > ul > li a {
                                    color: #999;
                                }

        .main {
            -webkit-flex: 1;
            order: 2;
            background: #f5f5f5;
        }

            .main .header {
                background: #44c4e7;
                min-height: 80px;
            }

                .main .header form {
                    padding: 20px;
                    display: inline-block;
                }

                    .main .header form input[type="search"] {
                        background: #19a0c5;
                        border: none;
                        border-radius: 3px;
                        line-height: 40px;
                        width: 500px;
                        padding: 0 10px;
                        outline: none;
                    }

                        .main .header form input[type="search"]::-webkit-input-placeholder {
                            color: #fff;
                        }

                .main .header ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                .main .header .nav-settings {
                    float: right;
                    line-height: 80px;
                    border-left: 1px solid #1cb3dc;
                }

                    .main .header .nav-settings li {
                        display: inline-block;
                    }

                        .main .header .nav-settings li:hover {
                            background: #2dbde4;
                        }

                        .main .header .nav-settings li a {
                            padding: 0 20px;
                            color: #fff;
                            display: inline-block;
                        }

        .messages {
            order: 1;
            width: 400px;
            background: #fff;
            border-right: 1px solid #DDD;
        }

            .messages h1 {
                margin: 0;
                padding: 20px;
                font-weight: 400;
                color: #777;
                border-bottom: 1px solid #DDD;
            }

            .messages form {
                padding: 20px;
                background: #FCFCFC;
            }

                .messages form input[type="search"] {
                    width: 100%;
                    border-radius: 4px;
                    border: 1px solid #ddd;
                    padding: 10px;
                    box-sizing: border-box;
                    outline: none;
                }

            .messages .message-list {
                padding: 0;
                margin: 0;
                list-style: none;
                border-bottom: 1px solid #ddd;
            }

                .messages .message-list li {
                    background: #F8F6F4;
                    transition: background-color .3s ease;
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    border-right: 3px solid #1cb3dc;
                    padding: 10px 20px;
                    display: flex;
                    cursor: pointer;
                }

                    .messages .message-list li input[type="checkbox"] {
                        appearance: none;
                        cursor: pointer;
                        margin: 5px 10px 0 0;
                        order: 1;
                        width: 15px;
                        height: 15px;
                        background: #fff;
                        border: 1px solid #ddd;
                        border-radius: 3px;
                    }

                        .messages .message-list li input[type="checkbox"]:checked {
                            background: #EFEFEF;
                        }

                    .messages .message-list li .preview {
                        flex: 1;
                        order: 2;
                    }

                        .messages .message-list li .preview h3 {
                            margin: 0;
                            font-weight: 400;
                            color: #333;
                        }

                            .messages .message-list li .preview h3 small {
                                float: right;
                                color: #AAA;
                                font-size: .8125rem;
                            }

                        .messages .message-list li .preview p {
                            color: #888;
                            margin: 5px 0;
                        }

                    .messages .message-list li:hover {
                        background: #fff;
                    }

                    .messages .message-list li.active {
                        background: #fd9162;
                        border-right: 3px solid rgba(0, 0, 0, 0.1);
                    }

                        .messages .message-list li.active .preview h3, .messages .message-list li.active .preview h3 small, .messages .message-list li.active .preview p {
                            color: #fff;
                        }

                    .messages .message-list li.new {
                        background: #fff;
                        border-right: 3px solid #44c4e7;
                    }

        .message {
            -webkit-flex: 1;
            order: 2;
            background: #fff;
        }

            .message h2 {
                margin: 0;
                padding: 20px 30px;
                font-weight: 400;
            }

            .message .meta-data {
                margin: 10px 30px;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                line-height: 50px;
                color: #888;
            }

                .message .meta-data .user {
                    color: #fd9162;
                }

                .message .meta-data img {
                    display: inline;
                    vertical-align: middle;
                    margin-right: 20px;
                    border-radius: 3px;
                }

                .message .meta-data .date {
                    float: right;
                    color: #aaa;
                }

            .message .body {
                padding: 20px 30px;
            }

            .message .action {
                background: #fcfcfc;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding: 20px 30px;
            }

                .message .action .options {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                    .message .action .options li {
                        float: left;
                    }

                        .message .action .options li:first-child {
                            border-right: 1px solid #ddd;
                        }

                            .message .action .options li:first-child a {
                                padding-left: 0;
                            }

                        .message .action .options li a {
                            color: #888;
                            padding: 0 10px;
                        }

                            .message .action .options li a.active {
                                color: #333;
                            }

                .message .action .textarea {
                    background: #fff;
                    padding: 10px;
                    border: 1px solid #ddd;
                    position: relative;
                    margin: 20px 0;
                }

                    .message .action .textarea:before {
                        content: '';
                        display: block;
                        border: 10px solid transparent;
                        border-bottom: 10px solid #FFF;
                        position: absolute;
                        top: -19px;
                        left: 25px;
                        -webkit-filter: drop-shadow(0 -1px 0 #ddd);
                    }

                    .message .action .textarea textarea {
                        width: 100%;
                        min-height: 300px;
                        appearance: none;
                        border: none;
                        resize: none;
                        outline: none;
                        margin-bottom: 50px;
                    }

                    .message .action .textarea .fileupload {
                        background: #FCFCFC;
                        border: 1px solid #ddd;
                        padding: 10px;
                        color: #888;
                        justify-content: space-between;
                    }

                        .message .action .textarea .fileupload .fileinfo {
                            flex: 1;
                        }

                        .message .action .textarea .fileupload .progress {
                            width: 80%;
                            border: 1px solid #ddd;
                            background: #fff;
                            padding: 2px;
                        }

                            .message .action .textarea .fileupload .progress .bar {
                                background: #44c4e7;
                                width: 65%;
                                text-align: right;
                                color: #fff;
                                padding: 3px;
                                font-size: .75rem;
                            }
    </style>
</head>
<body>
    <div class="container app">


        <!--
        <aside class="sidebar">
            <h1 class="logo">
                <a href="#">Rim<strong>Email</strong></a>
            </h1>
            <nav class="main-nav">
                <ul>
                    <li><a href="#">Document Profile</a></li>
                    <li class="active">
                        <a href="#">Email</a><br />
                        <a href="#" class="btn btn-primary">Download Msg</a>
                        <ul>
                            <li class="active"><a href="#">Inbox <span class="btn btn-primary">25</span></a></li>
                            <li><a href="#">Drafts</a></li>
                            <li><a href="#">Sent</a></li>
                            <li><a href="#">Trash</a></li>
                            <li><a href="#">Junk Mail</a></li>
                        </ul>
                        <ul class="labels">
                            <li><a href="#">London <span class="btn btn-primary label"></span></a></li>
                            <li><a href="#">Houston <span class="btn btn-primary label"></span></a></li>
                            <li><a href="#">Dallas <span class="btn btn-primary label"></span></a></li>
                            <li><a href="#">Indianapolis <span class="btn btn-primary label"></span></a></li>
                        </ul>
                    </li>
                    <li><a href="#">Docs</a></li>
                    <li><a href="#">Stats</a></li>
                </ul>
            </nav>
        </aside>
        -->




        <div class="main">
            <header class="header">
                <h1>@ViewBag.NoMessage</h1>
                <!--<form action="">
                    <input type="search" name="s" placeholder="Search on Rimkus" />
                </form>-->
                <nav class="nav-settings">
                    <ul>
                        <li><a href="#" class="btn btn-primary"><img id="msgid" draggable="true" src="@myDetails.fileloc" data-rimkus="@ViewBag.rimkus" /></a></li>
                        <li><a href="#" class="icon icon-gear"></a></li>
                    </ul>
                </nav>
                <div class="clr"></div>
            </header>
            <div class="container">
                <div class="messages">
                    <!--<h1>Inbox <span class="icon icon-arrow-down"></span></h1>-->
                    <form action="">
                        <input type="search" class="search" placeholder="Search By Subject" />
                    </form>
                    <ul class="message-list">

                        @foreach (var item in Model)
                        {
                            <li class="">

                                <div class="preview loadmsg" data-rimkus="@item.Id">
                                    <h3>@item.ShortFrom <small>@String.Format("{0:MMM d}", myDetails.ReceivedDate)</small></h3>
                                    <p><strong>Sub:</strong>@item.shortsubject ...</p>

                                    @if (item.Attachments.Count > 0)
                                    {
                                        <p>@item.Attachments.Count Attachment(s).</p>
                                    }

                                </div>
                            </li>
                        }
                    </ul>
                </div>

                <section class="message">
                    <h2><span class="icon icon-star-large"></span><span id="mysubject">@myDetails.subject.ToString()</span>  <span class="icon icon-reply-large"></span><span class="icon icon-delete-large"></span></h2>
                    <div class="meta-data">
                        <p>
                            <img src="http://placehold.it/40x40" class="avatar" alt="" />
                            <span id="myfrom">@myDetails.From</span>  -><span class="user"> <span id="myrecipient0">@Html.Raw(myDetails.Recipients) </span>  </span>
                            <span id="mydate" class="date">@String.Format("{0:MMM d, yyyy}", myDetails.ReceivedDate)</span>
                        </p>
                    </div>
                    <div class="body">
                        <p></p>
                        <p id="mymessage">
                            @Html.Raw(Html.Encode(myDetails.Message).Replace("\n", "<br />"))
                        </p>

                    </div>
                    <div class="action">
                        <ul class="options">
                            <li><a href="#" class="active">Attachments</a></li>
                            <li><a href="#"> <span id="attachmentcount"></span> </a></li>
                            <div class="clr"></div>
                        </ul>
                        <div class="textarea">
                            <p name="r" id="submessages">
                                @myDetails.SubMessage
                            </p>
                            <div class="fileupload container">
                                <span id="attachments" class="fileinfo">@Html.Raw(myDetails.Attachment)</span>
                                <!--<div class="progress">
                                    <div class="bar">65%</div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var MsgArray =@Html.Raw(Json.Encode(Model))
            $('.loadmsg').on('click', function (e) {
                var myindex = $(this).attr("data-rimkus")
                //alert($(this).attr("data-rimkus"));
                //alert(MsgArray[myindex].subject)
                $("#mysubject").html(MsgArray[myindex].subject);

                $("#msgid").attr('src', MsgArray[myindex].fileloc);

                $("#myfrom").html(MsgArray[myindex].From);
                $("#myrecipient0").html(MsgArray[myindex].Recipient[0]);
                $("#mymydate").html(MsgArray[myindex].ReceiveDate);
                $("#mymessage").html(MsgArray[myindex].Message.replace(/(?:\r\n|\r|\n)/g, '<br />'));
                $("#attachmentcount").html(MsgArray[myindex].Attachments.Count);
                $("#submessages").html(MsgArray[myindex].SubMessages);
                $("#attachments").html(MsgArray[myindex].Attachments);
            });
        });

    </script>
    <script>
    $(document).ready(function () {
        $('li').click(function () {
            $('li').removeClass();
            $(this).addClass('active');
            //$(this).parent().addClass('active');
        });

    });
    </script>
</body>

</html>

